<div class="about-container" style="width:40%; margin: 50px auto;">
    <div class="row">
        <div class="col no-gutters">
            <div id="container-bg">
                <div id="theTarget">
                    <div class="image1"></div>
                    <div class="image2"></div>
                    <div class="image3"></div>
                    <div class="image4"></div>
                    <div class="image5"></div>
                </div>
            </div>
        </div>
    </div>
  <br><br>
    	<div class="col-xs-11">

            <div class = "about-title">
    			<div style = "text-align: left">
    				<h1 class="about"><i class="fas fa-question-circle">About</i></h1>
                    <h4>お家での筋トレをしていて誰に見てもらいたいと考えたことはないですか？<br>
                    そんなユーザー同士で情報共有できるサイトです。</h4>
                    <h3> 〜Home_fitnessでできること〜</h3>

                    <h2><i class="fas fa-calendar-alt">投稿</i></h2>
                    <li>筋トレ報告やメニューを投稿して、ユーザーに共有できます。</li>
                    <li>投稿にいいねやコメントをすることができます。</li><br>
                     <li>タグ機能で同じジャンルを絞り、表示することができます。</li><br>

                     <h2><i class="fas fa-user">マイページ</i></h2>
                     <li>気になるユーザーをフォローすることができます。</li>
                     <li>自分の投稿したイベントや作品を確認できます。</li><br>
                </div>
    		</div>
    	</div>
    </div>
</div>
