/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  color: #2d3133;
  margin: 0;
  min-height: 1vh;
}


.top-main {
  padding: 400px 0 200px;
  text-align: center;
  top: 100;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: red;
  background-color: #3ecdc6;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  background-image: url("/3466351_m.jpg");
}

.top-message {
　padding: 200px 0 100px;
  text-align: center;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #3ecdc6;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
}
